<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="${IS_DEBUG}">
    <property name="LOG_PATTERN" value="%-5level %d{yyyyMMdd HH:mm:ss.SSS} %msg%n" />
    <property name="LOG_DIR" value="log" />
    <property name="LOG_FILE_NAME" value="cr_core" />
    <property name="LOG_FILE_EXTENSION" value="log" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>CONS ${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="Rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE_NAME}.${LOG_FILE_EXTENSION}</file>
        <!-- <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_FILE_NAME}.%i.${LOG_FILE_EXTENSION}</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy> -->
        <encoder>
            <pattern>FILE ${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">        
            <fileNamePattern>${LOG_DIR}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.%i.${LOG_FILE_EXTENSION}</fileNamePattern>            
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>                
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="file" level="TRACE" additivity="false">
        <appender-ref ref="Rolling" />
    </logger>

    <logger name="con" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="io.swagger.jaxrs.listingSwaggerSerializers" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="OFF">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
